*{
    margin: 0;
    padding: 0;
}

.parrafo-somos{
    padding-left: 120px;
    padding-right: 120px;
}

p, a{
    font-family:"Montserrat", sans-serif;
    font-size: 20px;
    font-style: 300;
}

.titulo{
    font-weight: bold;
    font-size: 5.9vw;
}

.btn{
    background-color:#88cdf6 ;
    border-radius: 10px;
    padding:5px 20px 5px 20px;
    color: rgb(82, 82, 82);
    text-transform: uppercase;
    font-weight: 600;

}

.btn:hover{
    background-color:#97d1f3 ;
    border-radius: 10px solid #252525;
    padding:5px 20px 5px 20px;
    color: aliceblue;

}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

html,body{
    padding: 0px;
    margin: 0px;
}

/* Media Query for Small Mobile Devices */
@media (max-width: 576px) {
    .titulo {
        font-size: 28px; /* Adjust font size for smaller screens */
    }
    
    .btn {
        padding: 5px 10px; /* Adjust padding for smaller screens */
    }
    
    .parrafo-somos {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    p, a {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}