.parrafo-somos{
    padding-left: 120px;
    padding-right: 120px;
}

p, a{
    font-family:"Montserrat", sans-serif;
    font-size: 20px;
    font-style: 300;
}

.titulo{
    font-weight: 800;
    font-size: 5rem;
}

.btn{
    background-color:#88cdf6 ;
    border-radius: 10px;
    padding:5px 20px 5px 20px;
    color: rgb(82, 82, 82);
    text-transform: uppercase;
    font-weight: 600;

}

.btn:hover{
    background-color:#97d1f3 ;
    border-radius: 10px solid #252525;
    padding:5px 20px 5px 20px;
    color: aliceblue;

}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
